---
layout: default
title: Home
---

<section class="home-intro">
<div class="container-fluid">
    <div class="row">

        <div class="col-md-8 tutorial__list">

        {% assign docs = site.documents | sort: 'date' | reverse %}

        {% for doc in docs  limit: 9 %}
        <a href="{{ doc.url | relative_url }}">
            <div class="tutorial__list--card">  

                  <h2>{{ doc.title }}</h2>

                  {% assign categories = doc.categories %}   
                  {% for category in categories %}
                  
                  <span class="tutorial__list--card__category">Category: {{ category }}</span> 
                  
                  {%- assign date_format =  "%b %-d, %Y" -%}
                  <span class="tutorial__list--card__date">Created On : {{ doc.date | date: date_format }} </span>
                  {% endfor %}
                  
                  <p>{{ doc.excerpt }}</p>
                 
            </div>
        </a>

        {% endfor %}
        </div>
    
        <div class="col-md-4 home-intro__tutorials">
            <div class="mb-5">
                <h1> Recent Tutorials</h1>


                    {% for post in site.posts limit:9 %}

                    <ul>
                        <li><a href="{{ post.url }}">{{ post.title }} </a></li>
                    </ul>

                    {% endfor %}
            </div>

            <!-- <div class="mb-5">

                <h1>Latest Blogs </h1>

                <div class="home-blog__blogcard">
                    {% for blog in site.blogs %}

                        <li><a href="{{ blog.url }}">{{ blog.title }}</a></li>
                    {% endfor %}
                </div>
            </div> -->
        </div>


    </div>
</div>
</section>
