---
layout: default
---
<section class="tutorial">

    <div class="container-fluid">
        <div class="row">
    
           {% include tutorial_sidebar.html %}
    
            <div class="col-md-9 col-xl-10 tutorial__list">

            {% for post in site.posts %}

            <a href="{{ post.baseurl }}/tutorial/{{post.slug}}">
                <div class="tutorial__list--card">  

                      <h2>{{ post.title }}</h2>

                      {% assign categories = post.categories %}   
                      {% for category in categories %}
                      
                      <span class="tutorial__list--card__category">Category: {{ category }}</span> 
                      
                      {%- assign date_format =  "%b %-d, %Y" -%}
                      <span class="tutorial__list--card__date">Created On : {{ post.date | date: date_format }} </span>
                      {% endfor %}
                      
                                <p>{{ post.excerpt }}</p>
                     
                </div>
            </a>
            {% endfor %}

            </div>
    
        </div>
    
    </div>
    
</section>
