---
layout: default
---
<section class="tutorial">

    <div class="container-fluid">
        <div class="row">
    
           {% include tutorial_sidebar.html %}
    
            <div class="col-md-7 col-xl-8 tutorial__content">

            {% for post in site.posts %}

            <a href="{{ post.url | relative_url }}">
                <div class="tutorial__content--card">
              
                      <h2>{{ post.title }}</h2>
                      
                      {% assign categories = post.categories %}   
                      {% for category in categories %}
                      
                      <span class="tutorial__content--category">Category: {{ category }}</span> 
                      
                      {%- assign date_format =  "%b %-d, %Y" -%}
                      <span class="tutorial__content--date">Created On : {{ post.date | date: date_format }} </span>
                      {% endfor %}
                      
                                <p>{{ post.excerpt }}</p>
                     
                </div>
            </a>
            {% endfor %}

            </div>

            <div class="col-md-2 col-xl-2">
                
            </div>
    
        </div>
    
    </div>
    
</section>
